
body {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Sriracha', cursive;
    font-size: 1.2em;
    text-shadow: 2px 2px 2px #FFF;
}

.col {
    margin-bottom: 70px;
}

.total-box {
    margin: 100px;
    height: 200px;
    font-size: 1.6em;
}